/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Amarante&family=Amaranth&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 20%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 20%;

    --primary: 240 10% 20%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 240 10% 20%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 95%;
    --accent-foreground: 240 10% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 240 10% 20%;

    --radius: 1.25rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Pastel tile colors */
    --tile-peach: 18 100% 87%;
    --tile-blue: 209 100% 85%;
    --tile-green: 150 66% 80%;
    --tile-lavender: 270 100% 85%;
    --tile-pink: 350 100% 86%;
    --tile-yellow: 50 100% 82%;
  }
}

/* Page background */
@layer base {
  html {
    background-image: url(https://cdn.builder.io/api/v1/image/assets%2Fbf29734f12f74dae8834c2d0533c98b3%2F2d4fa59f0d804d74aa748f36c63862bd);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: -0.5px;
  }

  :where(p, span, li, a, button, label, td, th) {
    overflow-wrap: anywhere;
    word-break: break-word;
    font-weight: 300;
  }

  button {
    font-weight: 400;
  }

  pre,
  code {
    overflow-x: auto;
    white-space: pre;
  }
}
